.venv
.env
export
!aggregation/export/
aggregation/export/*
!aggregation/export/media/
aggregation/export/media/*
!aggregation/export/media/.gitkeep
**/__pycache__/**
information.docx
aggregation/snapshots/
.DS_Store
